body, div, img, span{
	padding: 0px 0px;
	margin: 0px 0px;
}
header{
	background-color: #c0c0c0;
	width: 100%;
	position: absolute;
	top: 0px;
	height: 40px;
	letter-spacing: 1px;
}
header span{
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
}

nav{
	margin-bottom: 50px;
	font-size: 20px;
	overflow: hidden;
	width: 100%;
	position:absolute;
	bottom: 50px;
	top: 40px;
}
nav .wrap{
	 margin-left: 10%;
	 position:absolute; 
	 top:30%; 
	 width:100%; 
}
nav .wrap .content{ 
	text-align:left;
}
nav span{
	display: inline-block;
	margin: 10px 20px;
}
nav span input{
	height: 30px;
	line-height: 20px;
}
nav span #send_btn{
	font-size: 20px;
	line-height: 20px;
	width: 80px;
	letter-spacing: 4px;
	height: 40px;
	background-color: #5FE146;
	border:none;
}

footer{
	background-color: #1f2b5a;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	min-width: 960px;
}
footer ul{
	text-align: center;
	width: 100%;
}
footer ul li{
	list-style: none;
	display: inline-block;
	margin: 0 40px;

}
footer li a{
	text-decoration: none;
	font-size: 20px;
	color: #18ffe2;
}